<%- include header %>

<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1>Bank accounts</h1>
				<div class="separator mb-5"></div>
			</div>
		</div>

		<div class="row" id="accounts">

			<div class="col-12 card_accounts" id="loader">
				<div class="card d-flex flex-row mb-3 pad10">
					<div class="pl-2 d-flex flex-grow-1 min-width-zero">
						<div
							class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
							<a href="#" class="w-20 w-sm-100">
								<div class="anim"></div>
							</a>
							<a href="#" class="w-20 w-sm-100">
								<div class="anim"></div>
							</a>
							<a href="#" class="w-20 w-sm-100">
								<div class="anim"></div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12" id="no_accounts" style="display:none;">
				<div class="card d-flex flex-row mb-3">
					<div class="pl-2 d-flex flex-grow-1 min-width-zero">
						<div
							class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
							<p class="list-item-heading mb-1 truncate">You don't have bank accounts added</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>

<%- include footer %>


<script type="text/javascript">
	jQuery(document).ready(function ($) {

		axios({
			method: 'post',
			url: '/api/accounts',
			headers: { 'Authorization': 'Bearer ' + Cookies.get('token_user') }
		}).then((response) => {
			console.log(response.data.data);
			$("#loader").remove();
			if (response.data.data.length == 0) {
				$("#no_accounts").show();
			}
			response.data.data.forEach(function (entry) {
				$("#accounts").append(`
				<div class="col-12 card_accounts">
					<div class="card d-flex flex-row mb-3 pad8">
						<div class="pl-2 d-flex flex-grow-1 min-width-zero">
							<div
								class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
								<a href="#" class="w-20 w-sm-100">
									<p class="list-item-heading mb-1 truncate">${entry.bank}</p>
								</a>
								<a href="#" class="w-20 w-sm-100">
									<p class="list-item-heading mb-1 truncate">${entry.created}</p>
								</a>
								<a href="#" class="w-20 w-sm-100 delete_bank" data-name="${entry.bank}"
											data-account_id="${entry.account_id}">
									<div class="list-item-heading mb-1 truncate">
										<span style="cursor: pointer"><i class="simple-icon-trash"></i> Remove bank account</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>`);
			});

		}).catch((error) => {
			console.log(error);
			$("#no_accounts").show();
		});


		$('body').on("click", '.delete_bank', function (e) {

			var x = $(this);
			var id = x.data("account_id");
			var name = x.data("name");

			swal({
				title: "Information",
				text: "Do you want to delete " + name + " from your accounts?",
				type: "info",
				showCancelButton: true,
				html: true,
				confirmButtonColor: "#145388",
				confirmButtonText: "Yes, delete it",
				cancelButtonText: "Cancel",
				closeOnConfirm: false,
				showLoaderOnConfirm: true,
			},
				function (isConfirm) {
					if (isConfirm) {
						axios({
							method: 'post',
							url: '/api/remove_account',
							data: {
								account: id
							},
							headers: { 'Authorization': 'Bearer ' + Cookies.get('token_user') }
						}).then((response) => {

							swal.close();

							x.parent().parent().parent().parent().animate({ opacity: 0 }, 400, function (e) {
								$(this).stop().animate({
									height: "0px",
								}, 400, function (e) {
									$(this).remove();
									if ($(".card_accounts").length == 0) {
										$("#no_accounts").show();
									}
								});
							});

						}).catch((error) => {
							setTimeout(function () {
								swal("Ups, error",
									"Sorry, we couldn't delete " + name + " from your accounts.",
									"error"
								);
							}, 3000);

						});

					}
				});

		});
	});
</script>