<%- include header %> 
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1>Banks</h1>

				<div class="separator mb-5"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card d-flex flex-row mb-3">
					<a class="d-flex" href="#">
						<img alt="Thumbnail" src="https://media-cdn.tripadvisor.com/media/photo-s/11/c7/d1/39/club-med-cancun-yucatan.jpg" class="list-thumbnail responsive border-0">
					</a>
					<div class="pl-2 d-flex flex-grow-1 min-width-zero">
						<div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
							<a href="#" class="w-40 w-sm-100">
								<p class="list-item-heading mb-1 truncate">Bancolombia</p>
							</a>
							<p class="mb-1 text-muted text-small w-15 w-sm-100">William garcia</p>
							<p class="mb-1 text-muted text-small w-15 w-sm-100">2019-27-12 16:31:12</p>
							<div class="w-15 w-sm-100">
								<span style="cursor: pointer"><i class="simple-icon-trash"></i> Delete</span>
							</div>
						</div>

						
					</div>
				</div>
			</div>

		</div>
	</div>
</main>
<%- include footer %> 