<script src="../static/assets/js/jquery-3.3.1.min.js"></script>
<script src="../static/assets/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/js/dore.script.js"></script>
<script src="../static/assets/js/scripts.js"></script>
<script src="../static/assets/js/noti.js"></script>
<script src="https://rush.fitness/rush/wp-content/themes/rush/assets/js/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

</body>

</html>