<%- include header %>

<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1>Index</h1>

				<div class="separator mb-5"></div>
			</div>
		</div>

		<div class="row">

			<div class="col-12">
				<div class="card mb-4">
					<div class="card-body ">
						<button id="connect">
							Conectar
						</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include footer %>

<script type="text/javascript">



	jQuery(document).ready(function ($) {

		console.log(Cookies.get('toke_user'));

		var products = 'transactions'.split(',');
		$("#connect").on("click", function ($) {
			console.log("sdasdas2");
			var handler = Plaid.create({
				apiVersion: 'v2',
				clientName: 'Plaid Quickstart',
				env: '<%= PLAID_ENV %>',
				product: products,
				key: '<%= PLAID_PUBLIC_KEY %>',
				onSuccess: function (public_token) {
					console.log(public_token);
					
					axios({
						method: 'post',
						url: '/api/get_access_token',
						data: {
							public_token: public_token
						},
						headers: { 'Authorization': 'Bearer ' + Cookies.get('toke_user') }
					}).then((response) => {

						var data = response.data;
						alert(data.status);

						console.log(response)
					}).catch((error) => {
						console.log(error)
					});

				},
			}).open();

		});

	})
</script>