<%- include header %> 

<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1>Index</h1>

				<div class="separator mb-5"></div>
			</div>
		</div>

		<div class="row">

			<div class="col-12">
				<div class="card mb-4">
					<div class="card-body ">
						<button id="connect">
							Conectar
						</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include footer %> 

<script type="text/javascript">
	jQuery(document).ready(function ($) {
		var prueba = Cookies.get('toke_user');

		var products = 'transactions'.split(',');
		$("#connect").on("click", function ($) {
			console.log("sdasdas2");
			var handler = Plaid.create({
				apiVersion: 'v2',
				clientName: 'Plaid Quickstart',
				env: 'sandbox',
				product: products,
				key: '5049c988e7104f6947fa3f78c5760f',
				// webhook: 'https://your-domain.tld/plaid-webhook',
				onSuccess: function (public_token) {
					console.log(public_token);
					/*
					$.post('/get_access_token', {
						public_token: public_token
					}, function (data) {
					
						$('#container').fadeOut('fast', function () {
							$('#item_id').text(data.item_id);
							$('#access_token').text(data.access_token);
							$('#intro').hide();
							$('#app, #steps').fadeIn('slow');
						});
					
					});
					*/
				},
			}).open();

		});

	})
</script>