<%- include header %>

<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-6">
				<h1>Overview</h1>
				<div class="separator mb-5"></div>
			</div>
			<div class="col-6 text-right">
				<button class="connect btn btn-primary btn-lg mb-1">
					Add account
				</button>
			</div>
		</div>

		<div class="row">

			<div class="col-12">
				<div class="card mb-4">
					<div class="card-body ">

						<% if (accounts == 0) { %>
						<h5 class="mb-4">Information</h5>
						<div class="mb-3">
							<p>You don't have any account connected to plaid.</p>
							<button class="connect btn btn-primary btn-lg mb-1">
								Connect with my bank account
							</button>
						</div>
						<% } else { %>
						ya tengo papu
						<% } %>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include footer %>

<script type="text/javascript">



	jQuery(document).ready(function ($) {

		console.log(Cookies.get('toke_user'));

		var products = 'transactions'.split(',');
		$(".connect").on("click", function ($) {
			console.log("sdasdas2");
			var handler = Plaid.create({
				apiVersion: 'v2',
				clientName: 'Plaid Quickstart',
				env: '<%= PLAID_ENV %>',
				product: products,
				key: '<%= PLAID_PUBLIC_KEY %>',
				onSuccess: function (public_token) {
					console.log(public_token);

					axios({
						method: 'post',
						url: '/api/get_access_token',
						data: {
							public_token: public_token
						},
						headers: { 'Authorization': 'Bearer ' + Cookies.get('toke_user') }
					}).then((response) => {

						var data = response.data;
						swal({
							title: "Information",
							text: "Your account has been added successfully",
							type: "success",
							html: true,
							confirmButtonColor: "#F1E31F",
							confirmButtonText: "Ok",
						},
							function (isConfirm) {
								if (isConfirm) {
									document.location.reload();
								}
							});

					}).catch((error) => {
						console.log(error)
					});

				},
			}).open();

		});

	})
</script>