<%- include header %>

<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-6">
				<h1>Overview</h1>
			</div>
			<div class="col-6 text-right">
				<button class="connect btn btn-primary btn-lg mb-1">
					Add account
				</button>
			</div>
		</div>
		<br>
		<div class="row">

			<% if (accounts == 0) { %>
			<div class="col-12">
				<div class="card mb-4">
					<div class="card-body ">
						<h5 class="mb-4">Information</h5>
						<div class="mb-3">
							<p>You don't have any account connected to plaid.</p>
							<button class="connect btn btn-primary btn-lg mb-1">
								Connect with my bank account
							</button>
						</div>
					</div>
				</div>
			</div>
			<% } else { %>
				<div class="col-lg-6 mb-5">
						<h6 class="mb-4">Shadow</h6>
						<div class="chart-container">
								<canvas id="pieChart"></canvas>
						</div>
				</div>

			<div class="col-6">
				<div class="card mb-4">
					<div class="card-body ">

					</div>
				</div>
			</div>
			<% } %>


		</div>
	</div>
</main>

<%- include footer %>

<script type="text/javascript">

	if (document.getElementById("pieChart")) {
		var pieChart = document.getElementById("pieChart");
		var myChart = new Chart(pieChart, {
			type: "PieWithShadow",
			data: {
				labels: ["Cakes", "Cupcakes", "Desserts"],
				datasets: [
					{
						label: "",
						borderWidth: 2,
						data: [15, 25, 20]
					}
				]
			},
			draw: function () { },
			options: {
				plugins: {
					datalabels: {
						display: false
					}
				},
				responsive: true,
				maintainAspectRatio: false,
				title: {
					display: false
				},
				layout: {
					padding: {
						bottom: 20
					}
				},
				legend: {
					position: "bottom",
					labels: {
						padding: 30,
						usePointStyle: true,
						fontSize: 12
					}
				},
				tooltips: chartTooltip
			}
		});
	}

	jQuery(document).ready(function ($) {

		console.log(Cookies.get('toke_user'));

		var products = 'transactions'.split(',');
		$(".connect").on("click", function (e) {

			var handler = Plaid.create({
				apiVersion: 'v2',
				clientName: 'Plaid Quickstart',
				env: '<%= PLAID_ENV %>',
				product: products,
				key: '<%= PLAID_PUBLIC_KEY %>',
				onSuccess: function (public_token) {
					console.log(public_token);

					$('body').loading({ stoppable: true });

					axios({
						method: 'post',
						url: '/api/get_access_token',
						data: {
							public_token: public_token
						},
						headers: { 'Authorization': 'Bearer ' + Cookies.get('toke_user') }
					}).then((response) => {

						var data = response.data;
						swal({
							title: "Information",
							text: "Your account has been added successfully",
							type: "success",
							html: true,
							confirmButtonColor: "#145388",
							confirmButtonText: "Ok",
						},
							function (isConfirm) {
								if (isConfirm) {
									document.location.reload();
								}
							});

					}).catch((error) => {
						console.log(error)
					});

				},
			}).open();

		});

	})
</script>