<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../static/assets/font/iconsmind-s/css/iconsminds.css" />
	<link rel="stylesheet" href="../static/assets/font/simple-line-icons/css/simple-line-icons.css" />

	<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/assets/css/bootstrap-float-label.min.css" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="stylesheet" href="../static/assets/css/noty.css" />
	
</head>

<body class="background show-spinner">
	<div class="fixed-background"></div>
	<main>
		<div class="container">
			<div class="row h-100">
				<div class="col-12 col-md-10 mx-auto my-auto">
					<div class="card auth-card">
						<div class="position-relative image-side ">

							<p class=" text-white h2">MAGIC IS IN THE DETAILS</p>

							<p class="white mb-0">
								Please use your credentials to login.
								<br>If you are not a member, please
								<a href="#" class="white">register</a>.
							</p>
						</div>
						<div class="form-side">
							<a href="Dashboard.Default.html">
								<span class="logo-single"></span>
							</a>
							<h6 class="mb-4">Login</h6>
							
							<label class="form-group has-float-label mb-4">
								<input class="form-control" id="email" />
								<span>Email</span>
							</label>

							<label class="form-group has-float-label mb-4">
								<input class="form-control" type="password" id="password" />
								<span>Password</span>
							</label>
							<div class="d-flex justify-content-between align-items-center">
								<a href="signup">Register?</a>
								<button class="btn btn-primary btn-lg btn-shadow" type="submit" id="Login">Enter</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="../static/assets/js/jquery-3.3.1.min.js"></script>
	<script src="../static/assets/js/bootstrap.bundle.min.js"></script>
	<script src="../static/assets/js/dore.script.js"></script>
	<script src="../static/assets/js/scripts.js"></script>
	<script src="../static/assets/js/noti.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</body>

</html>



<script type="text/javascript">
	jQuery(document).ready(function($){


		$("#password").on("keydown", function(e){

			if (e.keyCode == 13) {
				$("#Login").trigger("click");
			}

		});



		$("#Login").on("click", function(e){

			var email = $("#email").val();
			var password = $("#password").val();

			if (email.length == '' || password.length == '') {
				noty({text: 'Todos los cambios son obligatorios', timeout: 2000, theme: 'relax', type: 'error'});
				return false;
			}


			function validateEmail(email) {
				var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(String(email).toLowerCase());
			}
			if (!validateEmail(email)) {
				noty({text: email + ' No es un email', timeout: 2000, theme: 'relax', type: 'error'});
			}

			$.post( "/api/login", { email: email, password:  password})
			.done(function(data) {
				var toke_user = (data.token);
				Cookies.set('toke_user', toke_user);
				window.location.replace("/");
			})
			.fail(function(data){
				var error_data = (data.responseJSON.error);
				noty({text: ''+error_data+'', timeout: 2000, theme: 'relax', type: 'error'});	
			})

		});
	})
</script>