








@keyframes placeHolderShimmer {
	0% {
		background-position: 0px 0
	}

	100% {
		background-position: 1200px 0
	}
}

.anim {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 40%, #dddddd 50%, #eeeeee 60%);
	background-size: 1200px 104px;
	height: 20px;
	position: relative;
}

.pad10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pad8 {
	padding-top: 6px;
	padding-bottom: 6px;
}